* {font-family:'Oxygen', Arial, Helvetica, sans-serif;
color:white;}
body {margin:0; padding:0; height:200vh;}
h1, h2 {display:none;}
ul, li {padding:0; list-style-type:none;}
.d-none {display:none;}
button {cursor:pointer;}
/*---Intro--*/
.intro {
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    background-color:#032768;
    align-items: center;
    justify-content: center;
    z-index:999;
    position:relative;
    transition:all 1s ease-in;
}
.intro-badge {
    width:150px;
    height:200px;
    border:1px solid white;
}
.intro-txt {
    position:relative;
    width:100%;
    flex:0.5;
    display: flex;
    flex-direction: column;
}
.title {
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color:transparent;
    font-size:4em;
    text-align:center;
    position: absolute;
    left: 10%;
}
.title:nth-child(1){
    animation-duration:3s!important;
}
.title:nth-child(2){
    animation-delay:3s;
}
 
.title:nth-child(3){
    animation-delay:4s;
}
.title:nth-child(4){
    animation-delay:5s;
}
.title:nth-child(5){
    animation-delay:6s;
}
.subtitle {
    font-size:1.8em;
    text-align:center;
    animation-delay:7s;
animation-duration:3s!important;
}

.subtitle-2{
    font-size:1.8em;
    text-align:center;
    animation-delay:10s;
    animation-duration:4s!important;
}
.intro-txt button {
    animation-delay:11s;
    transition:all 1s ease-in-out;
}
button {
    padding:20px;
    border:none;
    background-color:#DEBD1B;
    border-radius:5px;
    width: 60%;
    margin: 0 auto;
    color:black;
    text-transform: uppercase;
    font-weight:700;
    font-size:1.5em;
}
#start {
    transition:all 3s ease-in-out;
}
.intro-txt .cv {
    align-self: end;
    position: relative;
    bottom: -30px;
}
/*---Panel de control--*/
header {
    width: 100%;
    height:120px;
    display: flex;
    background-color: #043A9A;
    margin: 10px 0 0;
    z-index:100;
    position:fixed;
    bottom:0;
}
header legend {
    display:none;
}
header picture {
flex:0.2;
}
header picture img {
    width:70px;
    transform: translateY(10px);
}
.foto {
    position:relative;
    transform:rotate(10deg);
    flex: 0.3;
    order:1;
}
.behance svg {
    width:40px;
    position:absolute;
    left:15px;
}
.skills {
    flex:1;
    order:2;
}
.cv {
    flex: 0.3;
    order: 3;
    align-self: center;
    margin-right:2%;
}
.cv button {
    width:100%;
    border-radius:10px;
    animation-delay:8s;
    animation-duration:3s!important;
    z-index:999;
}
.skills ul{
display:flex;
flex-wrap:wrap;
margin: 0;
}
.skills ul li {
    border-radius:100%;
    background-color:#DE5447;
    width:50px;
    height:50px;
    margin:5px;
}
.skills ul li span {
    display:none;
}

/*---Education--*/
.main {
    display: none;
    background-color: #032768;
    position: fixed;
    --bottom: 0;
    bottom:0px;
    left: 0;
    width: 100%;
    /*z-index: 99990;*/
}
.main-scroll {
    bottom: calc (var(--bottom) - 1)px;
}
.panel {
    width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}
/*--Animations--*/
@-webkit-keyframes fadeInOut{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
@keyframes fadeInOut{
    0%{opacity:0; }
    50%{opacity:1; }
    100%{opacity:0;}
}
.animate__fadeInOut{-webkit-animation-name:fadeInOut;animation-name:fadeInOut;
}
@-webkit-keyframes fadeInAndExit{
    0%{opacity:0}
    50%{opacity:1;  transform:translate(0);
    }
    70%{transform:translate(0);}
    100%{transform:translate(-200%)}
}
@keyframes fadeInAndExit{
    0%{opacity:0}
    50%{opacity:1;
        transform:translate(0);
    }
    70%{transform:translate(0);}
    100%{transform:translate(-200%)}
}
.animate__fadeInAndExit{
    -webkit-animation-name:fadeInAndExit;animation-name:fadeInAndExit;
    animation-duration: 3s;
}

@keyframes animateStart {
    0%{
        opacity:1;
    }
    20%{
        height:0px;
        width:0px;
    }
    50%{
        transform:none;
        opacity:1;
        height:0px;
        width:0px;
    }
    90%{
        opacity:1;
    }
    
    100%{
        transform:scale(200);
        opacity:0;
    }
}
.animate__start{
    -webkit-animation-name:animateStart;
    animation-name:animateStart;
    animation-duration: 2.5s;
    animation-delay:0s!important;
}

@keyframes shrinkUp {
0% {height:100vh;}
100%{height:0px;}
}
.animate__shrinkUp {
    -webkit-animation-name:shrinkUp;
    animation-name:shrinkUp;
    animation-duration: 0.1s;
    animation-delay:2s!important;
}