* {font-family:'Oxygen', Arial, Helvetica, sans-serif;
color:white;}
body {margin:0; padding:0}
h1, h2 {display:none;}
.d-none {display:none;}
/*---Intro--*/
.intro {
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    background-color:#0c077a;
    align-items: center;
    justify-content: center;
}
.intro-badge {
    width:150px;
    height:200px;
    border:1px solid white;
}
.intro-txt {
    position:relative;
    width:100%;
    flex:0.5;
    display: flex;
    flex-direction: column;
}
.title {
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color:transparent;
    font-size:4em;
    text-align:center;
    position: absolute;
    left: 10%;
}
.title:nth-child(1){
    animation-duration:3s!important;
}
.title:nth-child(2){
    animation-delay:3s;
}
 
.title:nth-child(3){
    animation-delay:4s;
}
.title:nth-child(4){
    animation-delay:5s;
}
.title:nth-child(5){
    animation-delay:6s;
}
.subtitle {
    font-size:1.8em;
    text-align:center;
    animation-delay:7s;
animation-duration:3s!important;
}

.subtitle-2{
    font-size:1.8em;
    text-align:center;
    animation-delay:11s;
    animation-duration:4s!important;
}
.intro-txt button {
    animation-delay:12s;
}
button {
    padding:20px;
    border:none;
    background-color:#DEBD1B;
    border-radius:5px;
    width: 60%;
    margin: 0 auto;
}
button a {
    color:black;
    text-transform: uppercase;
    font-weight:700;
    font-size:1.5em;
}
@-webkit-keyframes fadeInOut{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
@keyframes fadeInOut{
    0%{opacity:0; }
    50%{opacity:1; }
    100%{opacity:0;}
}
.animate__fadeInOut{-webkit-animation-name:fadeInOut;animation-name:fadeInOut;
}
@-webkit-keyframes fadeInAndExit{
    0%{opacity:0}
    50%{opacity:1;  transform:translate(0);
    }
    70%{transform:translate(0);}
    100%{transform:translate(-115%)}
}
@keyframes fadeInAndExit{
    0%{opacity:0}
    50%{opacity:1;
        transform:translate(0);
    }
    70%{transform:translate(0);}
    100%{transform:translate(-115%)}
}
.animate__fadeInAndExit{-webkit-animation-name:fadeInAndExit;animation-name:fadeInAndExit;
    animation-duration: 3s;
}